# .NET specific
back/**/bin/
back/**/obj/
back/**/*.user
back/**/*.suo
back/**/*.cache
back/**/*.dll
back/**/*.exe
back/**/*.pdb
back/**/launchSettings.json
back/**/appsettings.json
back/**/appsettings.*.json
back/**/static/

# Visual Studio
**/.vs/
**/*.sln
**/*.csproj.user
**/*.csproj.nuget.*
**/project.assets.json
**/project.nuget.cache

# Next.js specific
front/**/node_modules/
front/**/.next/
front/**/.vercel/
front/**/.env*
front/**/build/
front/**/.DS_Store

# IDE
**/.vscode/
**/*.swp
back/DotNetApi/.deployment
